


.success-box{

    background-color: #91FF9B;
    color: #393e46;
    display: flex;
    flex-direction: row;
    flex: 1;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #40AD60;
    margin: 10px;
    padding: 15px;

}

.success-text{

    display: flex;
    align-self: center;

}

.close {
    display: flex;
    margin-left: auto;
    opacity: 0.3;
  }
.close:hover {
    opacity: 1;
    cursor: pointer;
  }
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
  }
.close:before {
    transform: rotate(45deg);
  }
.close:after {
    transform: rotate(-45deg);
  }
